@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Jost:wght@300;400&display=swap');

html,body{
  margin:0;
  padding:0;
  background:#0f041b;
  color: white;
  font-family: "Fira Code", serif;
}

.image-inverted{
  filter:invert(100%)
}



